﻿
h1
{
    font-family: 'Segoe UI Black';
    font-variant: small-caps;
    font-size: 150%;
    font-weight: bold;
    border: thin solid #094AB2;
    padding: 10px 10px 15px 10px;
    margin: 15pt 0pt 15pt 0pt;
    line-height: 1.1em;
    color: #ffffff;
    background-color: #094AB2;
    -moz-box-shadow: 0 0 20px #094AB2;
    -webkit-box-shadow: 0 0 20px #094AB2;
    box-shadow: 0 0 20px #094AB2;
}
