﻿table.master  {
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 100%;
	height: 100%;
    /*height: 100%;*/
    vertical-align: top;
    margin-top: -3px;
    background-color: #c6c8ca;
	
}

table.master .error {
    color: Red;
}

table.master td {
    vertical-align: top;
    font-weight: 700;
}

table.master .master-content-main {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

table.master .master-content-center {
    padding: 12px;
}

table.master .master-content-bottom {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.master .master-copyright {
    text-align: center;
    padding-top: 4px;
}

table.master .master-content-center .title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
}

table.master .master-content-center .page {
    background-color: #f4f4f4;
    padding: 8px;
    padding-top: 14px;
    
}

